body {
	background-color: rgb(55, 55, 55);
}

input {
	margin: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(111, 111, 111);
	outline: none;
	background-color: rgb(44, 44, 44);
	font-family: monospace;
	font-size: 3vw;
	color: rgb(111, 111, 111);
	width: 15vw;
}

label {
	margin: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(111, 111, 111);
	outline: none;
	background-color: rgb(44, 44, 44);
	font-family: monospace;
	font-size: 5vw;
	color: rgb(111, 111, 111);
}

#timer{
	float: right;
	user-select: none;
}

#timer-input {
	float: right;
	width: 8vw;
}

button {
	margin: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(111, 111, 111);
	outline: none;
	cursor: pointer;
	background-color: rgb(44, 44, 44);
	font-family: monospace;
	font-size: 5vw;
	color: rgb(111, 111, 111);
}

button:hover, label:hover, .tokenbox:hover {
	background-color: rgb(66, 66, 66);
}

@keyframes buttonpress {
  0%, 100% {background-color: hsl(0, 58%, 70%);}
  5%  {background-color: hsl(18, 58%, 70%);}
  10% {background-color: hsl(36, 58%, 70%);}
  15% {background-color: hsl(54, 58%, 70%);}
  20% {background-color: hsl(72, 58%, 70%);}
  25% {background-color: hsl(90, 58%, 70%);}
  30% {background-color: hsl(108, 58%, 70%);}
  35% {background-color: hsl(126, 58%, 70%);}
  40% {background-color: hsl(144, 58%, 70%);}
  45% {background-color: hsl(162, 58%, 70%);}
  50% {background-color: hsl(180, 58%, 70%);}
  55% {background-color: hsl(198, 58%, 70%);}
  60% {background-color: hsl(216, 58%, 70%);}
  65% {background-color: hsl(234, 58%, 70%);}
  70% {background-color: hsl(252, 58%, 70%);}
  75% {background-color: hsl(270, 58%, 70%);}
  80% {background-color: hsl(288, 58%, 70%);}
  85% {background-color: hsl(306, 58%, 70%);}
  90% {background-color: hsl(324, 58%, 70%);}
  95% {background-color: hsl(342, 58%, 70%);}
}

button:active, label:active, .tokenbox:active {
	animation-name: buttonpress;
	animation-duration: 0.69s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-delay: -0.52s;
}

button:disabled {
	background-color: gray;
	cursor: not-allowed;
}

.tokenbox {
	margin: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(111, 111, 111);
	background-color: rgb(44, 44, 44);
	font-family: monospace;
	font-size: 13.5vw;
	color: rgb(111, 111, 111);
	cursor: default;
	user-select: none;
}